body{
    display: flex;
    
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: white; 
    color: #fff;
    font-size: 120%;
    background-image:  url('https://source.unsplash.com/1920x1080/?landscape');
}

/*----------Sidebar---------*/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eaecefd0;
    color: black;
    padding: 2em;
    border-radius: 30px;
    max-width: 100%;
    max-width: 25px;
    margin: 1em;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.icons .text{
    margin-bottom: 2em;
    margin-top: 8px;
}
.icons .favorites{
    margin-bottom: 2em;
    margin-top: 8px;
}
/*----------Weather---------*/
.weather-card{
    font-family: inherit;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 30px;
    max-width: 420px;
    max-height: 240px;
    margin: 0.5em;
    margin-top: 1em;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}
.current-forecast{
    display: flex;
    gap: 130%;
}
.weather-card img{
    object-fit:scale-down;
}
.weather-card h1{
    font-size: 52px;
}
.weather-card h2{
    font-size: 40px;
}
h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}
.description{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: -1.2em;
    color: #ced1d6;
    margin-left: 8px;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading data.";
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 20px;
}
/*----------Searchbar---------*/
.searchcard{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 7.5em;
    margin-top: 1em;
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.8em 1em;
    border-radius: 12px;
    background: #eaecefd0;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 95%;
    width: 814px;
}
/*----------Air Conditions---------*/
.container-conditions{
    position: absolute;
    font-family: inherit;
    background: #eaecefd0;
    color: rgb(0, 0, 0);
    padding: 0.3em 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 773px;
    margin: 0.5em;
    bottom: 0;
    margin-left: 7.5em;
    margin-bottom: 1em;
}
.current-weather-items{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 40%;
    gap: 1.4em;
    padding: 0 0.5em 0.5em;
    margin-bottom: 1em;
}
.pair1{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin-top: -0.2em;
}
.pair2{
    display: flex;
    flex-direction: row;
    gap: 44%;
}
.weather-item{
    display: flex;
    flex-direction: column;
}
.current-weather-items #water{
    margin-left: 2em;
}
.current-weather-items #sun{
    margin-left: 2em;
}
.current-weather-items p{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0.3em;
    color: #828487;
}
.current-weather-items div{
    font-size: 28px;
    font-weight: bold;
}
.title{
    color: #828487;
}
/*----------Hourly Forecast---------*/
.container{
    position: absolute;
    margin: 0.5em;
    margin-top: 16em;
    padding: 0.3em 2em;
    margin-left: 7.5em;
    background: #eaecefd0;
    max-width: 773px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.hourly-forecast{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    gap: 0.7em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 0.5em 0.5em;
}
.hourly-forecast.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.hourly-forecast-item{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7em;
}
::-webkit-scrollbar{
    height: 0.8em;
}
::-webkit-scrollbar-track {
    background: #828487;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
    background: #353434ba;
    border-radius: 100vw;
    
}
.hourly-forecast-item > img{
    inline-size: 140%;
    object-fit: cover;
}
.title2{
    color: #828487;
}
/*----------7-days Forecast---------*/
.container-7days{
    position: absolute;
    margin: 0.5em;
    margin-top: 5em;
    margin-bottom: 1em;
    padding: 0.3em 2em;
    right: 0;
    background: #eaecefd0;
    width: 100%;
    max-width: 773px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.date-container{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 12.5%;
    gap: 0.7em;
    overscroll-behavior-inline: contain;
    padding: 0 0.5em 0.5em;
}
.today{
    margin-top: -0.25em;
    margin-bottom: -1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0.7em;
}
.weather-forecast-item{
    margin-top: -0.25em;
    margin-bottom: -1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0.7em;

}
.midelements{
    display: flex;
    align-items: center;
    gap: 3em;
}
.seventitle{
    margin-left: 1.4em;
    color: #828487;
}
.desc{
    text-transform: capitalize;
}