@media only screen and (max-width: 480px)  {
    .container{
        grid-template: 0.2fr 1.7fr 1.5fr 1.5fr 1.5fr / 1fr;
        grid-template-areas: 
        "search-bar-card"
        "current-weather-card"
        "hourly-forecast-card"
        "air-conditions-card"
        "seven-day-forecast-card";
    }
    .seven-day-forecast-card{
        grid-column: 1 / span 1;
        grid-row:5 / span 1;
        margin-top: 0.5em;
        margin: 0.5em;
    }
    .current-forecast{
        gap: 15%;
    }
    .hourly-forecast{
        grid-auto-columns: 20%;
        gap: 0.7em;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding: 0 0.5em 0.5em;
    }
    
    body{
        background: rgb(202, 214, 219);
    }
    input.search-bar{
        width: 468px;
    }
    .temp{
        margin-left: 10%;
    }
}