.weather-bg-01n {
    background-image: url('https://images.unsplash.com/photo-1604736186034-f203a574c1b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-02n {
    background-image: url('https://images.unsplash.com/photo-1536183922588-166604504d5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-03n {
    background-image: url('https://images.unsplash.com/photo-1536183922588-166604504d5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-04n {
    background-image: url('https://images.unsplash.com/photo-1536183922588-166604504d5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-09n {
    background-image: url('https://images.unsplash.com/photo-1514277264166-8dc31e12b509?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-10n {
    background-image: url('https://images.unsplash.com/photo-1514277264166-8dc31e12b509?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-11n {
    background-image: url('https://images.unsplash.com/photo-1599070221195-bf2801877d7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-13n {
    background-image: url('https://images.unsplash.com/25/snow-light.JPG?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-50n {
    background-image: url('https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-01d {
    background-image: url('https://images.unsplash.com/photo-1627759929352-e4ad6ff6d55e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-02d {
    background-image: url('https://images.unsplash.com/photo-1603437873662-dc1f44901825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-03d {
    background-image: url('https://images.unsplash.com/photo-1603437873662-dc1f44901825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-04d {
    background-image: url('https://images.unsplash.com/photo-1603437873662-dc1f44901825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-09d {
    background-image: url('https://images.unsplash.com/photo-1493314894560-5c412a56c17c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-10d {
    background-image: url('https://images.unsplash.com/photo-1493314894560-5c412a56c17c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-11d {
    background-image: url('https://images.unsplash.com/photo-1600313405742-b6ef6b85e303?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-13d {
    background-image: url('https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1508&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .weather-bg-50d {
    background-image: url('https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: white; 
    color: #fff;
    font-size: 120%;
}
body.background{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
:root{
    --primary-color:#eaecefd0;
    --font-color: rgb(0, 0, 0);
}
.night-mode{
    --primary-color:#1e1f21d0;
    --font-color: rgb(255, 255, 255);
}

.container{
    height: 100%;
    max-height: 100vh;
    display: grid;
    grid-template:  0.2fr 1.7fr 1.5fr 1.5fr / 1.1fr 1.2fr 2fr; 
    padding: 8px;
    box-sizing: border-box;
    column-gap: 30px;
}
/*----------Searchbar---------*/
.search-card{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.8em 1em;
    border-radius: 12px;
    background: var(--primary-color);
    color: var(--font-color);
    font-family: inherit;
    font-size: 105%;
    width: 100%;
    box-sizing: border-box;
}
/*----------Current-Weather---------*/
.current-weather-card{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: inherit;
    color: var(--font-color);
    padding: 0 2em;
    width: 100%;
    box-sizing: border-box;

}
.flex{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}
.current-forecast{
    display: flex;
}
.current-weather-card img{
    object-fit:scale-down;
}
.current-weather-card h1{
    font-size:48px;
}
.current-weather-card h2{
    font-size: 40px;
}
h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}
.description{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: -1.2em;
    color: #414142;
    margin-left: 8px;
}
.favorite{
    display: flex;
    align-items: center;
    gap: 1em;
}
.favorite-button{
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 50px;
}
.favorite-button:hover{
    cursor: pointer;
}
/*----------Hourly Forecast---------*/
.hourly-forecast-card{
    font-family: inherit;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0.5em;
    margin-right: 1em;
    padding: 0.3em 2em;
    margin-bottom: 0.5em;
    background: var(--primary-color);
    width: 100%;
    /*max-width: 873px;*/
    color: var(--font-color);
    border-radius: 30px;
    box-sizing: border-box;

}
.hourly-forecast{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12%;
    gap: 0.7em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 0.5em 0.5em;
}
.hourly-forecast-card.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.hourly-forecast-item{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7em;
}
::-webkit-scrollbar{
    height: 0.8em;
}
::-webkit-scrollbar-track {
    background: #828487;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
    background: #353434ba;
    border-radius: 100vw;
    
}
.hourly-forecast-item > img{
    inline-size: 140%;
    object-fit: cover;
}
.title2{
    color: #828487;
}

/*----------Air Conditions---------*/
.air-conditions-card{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: inherit;
    background: var(--primary-color);
    color: var(--font-color);
    padding: 0.3em 2em;
    border-radius: 30px;
    width: 100%;
    margin: 0.5em;
    box-sizing: border-box;
}
.current-weather-items{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 30%;
    gap: 1.4em;
    padding: 0 0.5em 0.5em;
}
.pair1{
    display: flex;
    flex-direction: row;
    gap: 50%;
}
.pair2{
    display: flex;
    flex-direction: row;
    gap: 45%;
}
.weather-item{
    display: flex;
    flex-direction: column;
}
.current-weather-items #water{
    margin-left: 2em;
}
.current-weather-items #sun{
    margin-left: 2em;
}
.current-weather-items p{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 0.3em;
    color: #828487;
}
.current-weather-items div{
    font-size: 28px;
    font-weight: bold;
}
.title{
    color: #828487;
}
/*----------7-days Forecast---------*/
.seven-day-forecast-card{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 0.3em 2em;
    background: var(--primary-color);;
    width: 100%;
    color: var(--font-color);
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    
}
.date-container{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 16%;
    padding: 0 0.5em 0.5em;
}
.today{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0.7em;
}
.weather-forecast-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0.3em;

}
.day{
    display: flex;
    width: 8em;
    margin-right: 10%;
    
}
.temp{
    margin-left: auto;
}
.midelements{
    display: flex;
    align-items: center;
    
}
.seventitle{
    margin-left: 1.4em;
    color: #828487;
}
.desc{
    text-transform: capitalize;
}
